<div class="flex gap-2 {{ class }}">
  {% if variant.compare_at_price != blank and variant.compare_at_price != variant.price %}
    <p class="text-gray-400">
      <s>{{ variant.compare_at_price | money }}</s>
    </p>
    <p>{{ variant.price | money }}</p>
  {% else %}
    <p>{{ variant.price | money }}</p>
  {% endif %}
</div>
