<div class="flex flex-col gap-3">
  {% comment %} image {% endcomment %}
  <div class="aspect-square rounded bg-neutral-100 animate-pulse"></div>

  <div class="h-[1lh] w-[25ch] rounded bg-neutral-100 animate-pulse"></div>
  <div class="h-[1lh] w-[10ch] rounded bg-neutral-100 animate-pulse"></div>

  {% comment %} add-to-cart button {% endcomment %}
  <div class="h-[1lh] w-[15ch] rounded bg-neutral-100 animate-pulse"></div>
</div>
