{% doc %}
  Outputs a product card with image, title, price, and a quick-buy button.
  Renders the `product-price` and `quick-buy` snippets internally.

  @param {object} product - Shopify `product` object.

  @example
  {% render 'product-card', product: product %}
{% enddoc %}

<div>
  <a class="flex flex-col gap-3" href="{{ product.url }}" data-transition="slide-right">
    {% if product.selected_or_first_available_variant.featured_image != blank %}
      {% render 'image',
        image: product.selected_or_first_available_variant.featured_image,
        sizes: '50vw, 20vw',
        class: 'rounded'
      %}
    {% else %}
      {% render 'image', image: product.featured_image, sizes: '50vw, 20vw', class: 'rounded' %}
    {% endif %}

    <span>{{ product.title }}</span>
  </a>

  <div class="mt-2 flex flex-col justify-between gap-3">
    <div>
      {% render 'product-price', product: product %}
    </div>

    {% render 'quick-buy', product: product %}
  </div>
</div>
