<header class="site-header">
  <nav>
    <a href="/">Home</a>
    <a href="/collections">Collections</a>
    <a href="/cart">Cart</a>
    <button data-ref="close-drawer">Close drawer</button>
  </nav>
</header>
