<a
  class="button fixed! z-100 top-6 bg-white outline-2 outline-blue-500 py-2 px-4 rounded-lg left-1/2 -translate-1/2 opacity-0 pointer-events-none focus:opacity-100 focus:pointer-events-auto"
  href="#main"
>
  Skip to content
</a>
