@import 'tailwindcss' source('../');

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('fonts/Inter_18pt-Regular.woff2');
  font-display: block;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('fonts/Inter_18pt-Medium.woff2');
  font-weight: 700;
  font-display: block;
}

@theme {
  --font-sans: 'Inter', sans-serif;
}

/* make it so sections in preview popup in cms don't overflow */
shopify-visual-preview-section-list {
  padding: 0 !important;
}

html {
  /* apply zooming of everything on screens > 1440px */
  --zoom-amount: 0.4;
  --zoomed-rem: max(
    16px,
    calc(16px + 16 * var(--zoom-amount) * (100vw - 1440px) / 1440)
  );
}
