.image {
  img {
    aspect-ratio: var(--sm-aspect, var(--aspect));
    object-position: var(--focal, 50% 50%);

    @media (min-width: 751px) {
      aspect-ratio: var(--md-aspect, var(--aspect));
      object-position: var(--md-focal, var(--focal, 50% 50%));
    }
  }
}
