@import '../css/sections/main-cart';
@import '../css/sections/test-section';
@import '../css/snippets/site-header';
@import '../css/snippets/cart-notification';

@font-face {
  font-family: 'Martian';
  font-style: normal;
  font-weight: 400;
  src: url('~/fonts/MartianMono-Regular.ttf') format('truetype');
  font-display: swap;
}

:root {
  font-family: 'Martian', monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: clip;
}

main {
  padding: 100px 30px 200px;
}

img {
  max-width: 400px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}