.test-section {
  background-color: var(--scheme-background, #fff);
  color: var(--scheme-text, #111);

  .primary {
    display: inline-block;
    background-color: var(--scheme-primary);
    aspect-ratio: 16 / 9;
    width: 200px;
  }
  
  .secondary {
    display: inline-block;
    background-color: var(--scheme-secondary);
    aspect-ratio: 16 / 9;
    width: 200px;
  }
}
