{% doc %}
  Outputs a link where the customer can login, or go to its accout page when logged in.
{% enddoc %}

{%- if shop.customer_accounts_enabled -%}
  <a
    data-no-swup
    href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.storefront_login_url }}{%- endif -%}"
    class="button"
    rel="nofollow"
  >
    Account
  </a>
{%- endif -%}

{% schema %}
{
  "name": "Account link",
  "presets": [
    {
      "name": "Account link"
    }
  ]
}
{% endschema %}
