<div>
  <a class="grid gap-3" href="{{ product.url }}" data-transition="slide-right">
    {% if product.selected_or_first_available_variant.featured_image != blank %}
      {% render 'image', image: product.selected_or_first_available_variant.featured_image, sizes: '50vw, 20vw' %}
    {% else %}
      {% render 'image', image: product.featured_image, sizes: '50vw, 20vw' %}
    {% endif %}

    <span class="text-sm">{{ product.title }}</span>
  </a>

  <div class="mt-2 flex flex-col justify-between gap-1">
    <div class="text-sm">
      {% content_for 'block', type: '_product-price', id: 'price', variant: product.selected_or_first_available_variant %}
    </div>

    {% content_for 'block', type: '_quick-buy', id: 'quick_buy', product: product %}
  </div>
</div>

{% schema %}
{
  "name": "Product card"
}
{% endschema %}
