{% doc %}
  Outputs a `{% form 'product' %}`.  
  Requires that the `closest.product` is set to the product to render.
  Includes a variant picker.

  @example
  {% content_for 'block', type: '_product-form', id: 'pf', closest.product: product %}
{% enddoc %}

{% assign product = closest.product %}
{% assign variant = product.selected_or_first_available_variant %}

{% render 'variant-picker', swap_ids: 'variant_picker product_info variant_id add_to_cart_button' %}

{% form 'product',
  product,
  id: 'product_form',
  class: 'w-full my-4',
  x-target: 'cart cart_drawer_content cart_amount'
%}
  <input id="variant_id" type="hidden" name="id" value="{{ variant.id }}">

  <fieldset class="flex gap-4 my-6">
    {% render 'quantity-selector', min: 1, name: 'quantity', value: 1 %}

    <button
      id="add_to_cart_button"
      class="button-solid {% if variant.available %}text-black{% else %}text-gray-400{% endif %}"
      type="submit"
      name="add"
      aria-name="Add {{ product.title }} - {{ variant.options | join: ' / ' }} to cart"
    >
      <span class="size-4 -ml-4 opacity-0">
        {% render 'icon-spinner' %}
      </span>

      {% if variant.available %}
        Add to cart
      {% else %}
        Notify me
      {% endif %}
    </button>
  </fieldset>

  <div id="shopify_payment_button" class="text-gray-600">
    {{ form | payment_button }}
  </div>
{% endform %}

{% stylesheet %}
  @keyframes product-form-button-loading {
    from {
      background-position: calc(25% + 23px) 0;
    }

    to {
      background-position: calc(25% - 23px) 0;
    }
  }

  #product_form {
    button[type='submit'][aria-disabled='true'] {
      animation: product-form-button-loading 1s linear infinite reverse;
      background: repeating-linear-gradient(
        120deg,
        oklch(0.967 0.003 264.542),
        oklch(0.967 0.003 264.542) 10px,
        oklch(0.985 0.002 247.839) 10px,
        oklch(0.985 0.002 247.839) 20px
      );
      background-size: 200% 100%;

      span {
        opacity: 0.7;
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product form"
}
{% endschema %}
