{% doc %}
  Outputs the price of a product.  
  Requires that the `closest.product` is set to the product to render.

  @example
  {% content_for 'block', type: '_product-price', id: 'p', closest.product: product %}
{% enddoc %}

{% assign product = closest.product %}
{% assign variant = product.selected_or_first_available_variant %}

<div class="flex gap-2">
  {% if variant.compare_at_price != blank and variant.compare_at_price != variant.price %}
    <p>{{ variant.price | money }}</p>
    <p class="text-gray-400">
      <s>{{ variant.compare_at_price | money }}</s>
    </p>
  {% else %}
    <p>{{ variant.price | money }}</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Product price",
  "settings": [
    {
      "type": "header",
      "content": "Price"
    }
  ],
  "presets": [
    {
      "name": "Product price",
      "category": "Product"
    }
  ]
}
{% endschema %}
