{% render 'variant-picker' %}

<form
  id="product_form"
  class="inline-grid w-full justify-items-start gap-4"

  x-data
  x-target="cart_form"
  @ajax:after="document.getElementById('cart_drawer')?.showModal()"

  method="post"
  action="{{ routes.cart_add_url }}"
  accept-charset="UTF-8"
  enctype="multipart/form-data"
  novalidate="novalidate"
>
  <input type="hidden" name="form_type" value="product">
  <input type="hidden" name="utf8" value="✓">
  <input type="hidden" name="product-id" value="{{ product.id }}">

  <input type="hidden" name="quantity" value="1">
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

  <button
    class="{% if product.selected_or_first_available_variant.available %}text-black{% else %}text-gray-400{% endif %} my-4 w-full cursor-pointer rounded border border-gray-300 bg-gray-100 p-2 text-sm tracking-wider uppercase"
    type="submit"
    name="add"
  >
    {% if product.selected_or_first_available_variant.available %}
      Add to cart
    {% else %}
      Notify me
    {% endif %}
  </button>
</form>

{% stylesheet %}
  @keyframes product-form-button-loading {
    from {
      background-position: calc(25% + 23px) 0;
    }

    to {
      background-position: calc(25% - 23px) 0;
    }
  }

  #product_form {
    button[type='submit'][aria-disabled='true'] {
      animation: product-form-button-loading 1s linear infinite reverse;
      background: repeating-linear-gradient(
        120deg,
        oklch(0.967 0.003 264.542),
        oklch(0.967 0.003 264.542) 10px,
        oklch(0.985 0.002 247.839) 10px,
        oklch(0.985 0.002 247.839) 20px
      );
      background-size: 200% 100%;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product form"
}
{% endschema %}
