{% assign product = closest.product %}
{% assign variant = product.selected_or_first_available_variant %}

{% form 'product', product, x-target: 'cart cart_drawer_content cart_amount' %}
  <input type="hidden" name="quantity" value="1">
  <input type="hidden" name="id" value="{{ variant.id }}">

  <button
    class="quick-buy relative button flex items-center disabled:text-gray-300"
    type="submit"
    name="add"
    {%- unless variant.available -%}
      disabled
    {%- endunless -%}
  >
    {%- if variant.available -%}
      Add to cart
    {%- else -%}
      Sold out
    {%- endif -%}

    <span class="size-3 absolute -right-6 opacity-0 transition-opacity">
      {% render 'icon-spinner' %}
    </span>
  </button>
{% endform %}

{% stylesheet %}
  .quick-buy[aria-disabled='true'] {
    span {
      opacity: 1;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Quick buy"
}
{% endschema %}
