<form
  x-target="cart_form"
  @ajax:after="document.getElementById('cart_drawer')?.showModal()"

  action="{{ routes.cart_add_url }}"
  method="post"
  accept-charset="UTF-8"
  enctype="multipart/form-data"
  novalidate="novalidate"
>
  <input type="hidden" value="1" name="quantity">
  <input type="hidden" value="{{ product.selected_or_first_available_variant.id }}" name="id">

  <button
    class="button disabled:text-gray-300"
    type="submit"
    name="add"
    {%- unless product.selected_or_first_available_variant.available -%}
      disabled
    {%- endunless -%}
  >
    Add to cart
  </button>
</form>

{% schema %}
{
  "name": "Quick buy"
}
{% endschema %}
