{% assign product = closest.product %}
{% assign variant = product.selected_or_first_available_variant %}

{% form 'product', product, x-target: 'cart_form' %}
  <input type="hidden" name="quantity" value="1">
  <input type="hidden" name="id" value="{{ variant.id }}">

  <button
    class="button disabled:text-gray-300"
    type="submit"
    name="add"
    {%- unless variant.available -%}
      disabled
    {%- endunless -%}
  >
    {%- if variant.available -%}
      Add to cart
    {%- else -%}
      Sold out
    {%- endif -%}
  </button>
{% endform %}

{% schema %}
{
  "name": "Quick buy"
}
{% endschema %}
