<p style="{% render 'color-scheme' %}" class="bg-(--scheme-primary)">This is a local block!</p>

{% schema %}
{
  "name": "Test block",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ],
  "presets": [
    {
      "name": "Test block"
    }
  ]
}
{% endschema %}
