<p>This is a local block!</p>

{% schema %}
{
  "name": "Block name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ],
  "presets": [
    {
      "name": "Block test"
    }
  ]
}
{% endschema %}
