.visual-dev-grid {
  --helpercolor: 210 100% 56%;

  --cols: 12;
  --bleed: 32px;
  --gap: 16px;

  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
  top: 0;
  left: 0;

  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  padding: 0 var(--bleed);
  gap: var(--gap);

  pointer-events: none;
  user-select: none;

  div {
    color: hsla(var(--helpercolor) / 0.4);
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: hsla(var(--helpercolor) / 0.05);
    border-left: 1px solid hsla(var(--helpercolor) / 0.4);
    border-right: 1px solid hsla(var(--helpercolor) / 0.4);

    &:nth-of-type(n + 7) {
      display: none;
    }

    @media (min-width: 900px) {
      &:nth-of-type(n + 7) {
        display: flex;
      }
    }
  }
}
