<section id="cart" class="mx-auto my-4 max-w-xl">
  <h1 class="px-4 text-sm uppercase">Cart</h1>

  {% content_for 'block', type: '_cart-form', id: 'cartForm' %}
</section>

{% schema %}
{
  "name": "Main cart"
}
{% endschema %}
