<h1>All collections</h1>

<ol>
  {% paginate collections by 1000 %}
    {% for collection in collections %}
      <li>
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      </li>
    {% endfor %}
  {% endpaginate %}
</ol>
