<section class='my-20 px-4'>
  <h1 class='mb-4 text-3xl'>All collections</h1>

  <ol class='grid grid-cols-4 gap-4'>
    {% paginate collections by 1000 %}
      {% for collection in collections %}
        <li>
          <a href='{{ collection.url }}'>
            {% render 'image', image: collection.featured_image, sizes: '100vw, 20vw', aspect_ratio: '1/1' %}
            <div class="mt-2">
              {{ collection.title }}
              <span class='text-neutral-400'>({{ collection.all_products_count }} products)</span>
            </div>
          </a>
        </li>
      {% endfor %}
    {% endpaginate %}
  </ol>
</section>
