<section class="my-4 px-4" id="main_collection" x-merge.transition>
  <div class="mb-4 flex justify-between">
    <h1>
      {{ collection.title }}
      <span class="text-neutral-500">({{ collection.all_products_count }})</span>
    </h1>

    {% comment %} {% render 'filter' %} {% endcomment %}
    <button x-data class="button" @click="$dispatch('drawer:filter:open')">Filter</button>
  </div>

  {% paginate collection.products by 6 %}
    <ol id="paginated_items" x-merge="append" class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-3">
      {% if collection.products.size == 0 %}
        <p class="col-span-4 text-sm">No results</p>
      {% else %}
        {% for product in collection.products %}
          <li>
            {% content_for 'block', type: '_product-card', id: 'product_card', product: product %}
          </li>
        {% endfor %}
      {% endif %}
    </ol>

    {%- if section.settings.pagination_type == 'pagination' -%}
      {% render 'pagination', paginate: paginate %}
    {%- else -%}
      {% render 'infinite-scroll', paginate: paginate %}
    {%- endif -%}
  {% endpaginate %}
</section>

{% schema %}
{
  "name": "Main collection",
  "settings": [
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination type",
      "options": [
        { "label": "Infinite scroll", "value": "infinite_scroll" },
        { "label": "Pagination", "value": "pagination" }
      ],
      "default": "infinite_scroll"
    }
  ]
}
{% endschema %}
