<section id="main_product" class="grid gap-4 md:grid-cols-2">
  <div class="col-span-2 grid place-items-center gap-4 md:grid-cols-2">
    {% assign image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

    {% render 'image', image: image, sizes: '100vw, 40vw', loading: 'eager', id: 'product_image' %}

    <div class="sticky top-30 w-full max-md:px-4 md:w-sm p-5">
      <h1 class="mb-1">{{ product.title }}</h1>

      <div class="mb-4" id="product_price">
        {% content_for 'block',
          type: '_product-price',
          id: 'price',
          variant: product.selected_or_first_available_variant
        %}
      </div>

      {% content_for 'block', type: '_product-form', id: 'product_form' %}

      {%- if product.description != blank -%}
        <details class="mt-4 border-t border-gray-200">
          <summary class="my-4 cursor-pointer text-xs tracking-wider uppercase">Description</summary>

          <div class="mb-4 text-xs leading-normal">{{ product.description }}</div>
        </details>
      {%- endif -%}
    </div>
  </div>

  <div class="flex gap-4 pl-4">
    {% render 'variant-images' %}
    {% comment %}
      {% assign rendered_options = '' %}

      {% for variant in product.variants %}
        {% assign rendered_options_arr = rendered_options | split: '; ' %}

        {% unless rendered_options_arr contains variant.options[0] %}
          {% if variant.featured_image != blank %}
            {% render 'image', image: variant.featured_image, sizes: '33vw, 16vw', aspect_ratio: '1/1', class: 'w-full' %}

            {% assign rendered_options = rendered_options | append: '; ' | append: variant.options[0] %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    {% endcomment %}
  </div>
</section>

{% schema %}
{
  "name": "Main product",
  "enabled_on": {
    "templates": ["product"]
  },
  "presets": [
    {
      "name": "Main product"
    }
  ]
}
{% endschema %}
