<header class="fixed z-10 top-0 px-4 h-16 bg-white flex items-center justify-between gap-x-4 w-full">
  <nav class="flex items-center gap-x-4 text-blue-500">
    <a href="/">Home</a>
    <a href="/collections">Collections</a>
    <a href="/cart">Cart ({% render 'cart-amount' %})</a>
  </nav>

  {% render 'predictive-search' %}
</header>
