<header class="relative z-2 flex h-10 w-full items-center justify-between gap-x-4 border-b border-gray-400 bg-white px-4 text-sm">
  <nav class="flex items-center gap-x-4">
    <a
      href="/"
      x-data="{ active: {% if request.path == '/' %}true{% else %}false{% endif %} }"
      @window:navigation.window="active = $el.href.replace(location.origin, '') === location.pathname"
      :class="active ? 'underline' : ''"
      class="button flex items-center"
    >
      {% if shop.brand.logo != blank %}
        {% render 'image', image: shop.brand.logo, class: 'h-6' %}
      {% else %}
        Home
      {% endif %}
    </a>

    <a
      href="/collections"
      x-data="{ active: {% if request.path contains '/collections' %}true{% else %}false{% endif %} }"
      @window:navigation.window="active = location.pathname.includes($el.href.replace(location.origin, ''))"
      :class="active ? 'underline' : ''"
      class="button"
    >
      Shop
    </a>
  </nav>

  <nav class="ml-auto flex items-center gap-4">
    <button x-data class="button" @click="$dispatch('predictive-search:toggle')">Search</button>

    <a
      href="{{ routes.storefront_login_url }}"
      x-data="{ active: {% if request.path contains '/account' %}true{% else %}false{% endif %} }"
      @window:navigation.window="active = location.pathname.includes($el.href.replace(location.origin, ''))"
      :class="active ? 'underline' : ''"
      class="button"
    >
      Account
    </a>

    {% comment %} Cart drawer {% endcomment %}
    <button
      x-data="{ active: {% if request.path == '/cart' %}true{% else %}false{% endif %} }"
      data-href="/cart"
      @window:navigation.window="active = $el.dataset.href.replace(location.origin, '') === location.pathname"
      @click="$dispatch('cart-drawer:open')"
      :class="active ? 'underline' : ''"
      class="button"
    >
      Cart ({% render 'cart-amount' %})
    </button>
  </nav>
</header>

{% schema %}
{
  "name": "Site Header"
}
{% endschema %}
