<header class='fixed top-0 z-10 flex h-10 w-full items-center gap-x-4 border-b border-gray-400 bg-white px-4 text-sm'>
  <nav class='flex items-center gap-x-4'>
    <a
      href='/'
      x-data='{ active: {% if request.path == '/' %}true{% else %}false{% endif %} }'
      @window-navigation.window="active = $el.href.replace(location.origin, '') === location.pathname"
      :class="active ? 'underline' : ''"
    >
      HOME
    </a>

    <a
      href='/collections'
      x-data='{ active: {% if request.path contains '/collections' %}true{% else %}false{% endif %} }'
      @window-navigation.window="active = location.pathname.includes($el.href.replace(location.origin, ''))"
      :class="active ? 'underline' : ''"
    >
      COLLECTIONS
    </a>
  </nav>

  <nav class="flex gap-4 items-center ml-auto">
    {% render 'predictive-search' %}

    <a
      href='/cart'
      x-data='{ active: {% if request.path == '/cart' %}true{% else %}false{% endif %} }'
      @window-navigation.window="active = $el.href.replace(location.origin, '') === location.pathname"
      :class="active ? 'underline' : ''"
    >
      CART ({% render 'cart-amount' %})
    </a>
  </nav>
</header>

{% schema %}
{
  "name": "Site Header"
}
{% endschema %}
