<header class="site-header">
  <nav>
    <a href="/">Home</a>
    <a href="/collections">Collections</a>
    <a href="/cart">Cart (<span data-ref="cart-amount">{{ cart.item_count }}</span>)</a>
  </nav>

  {% comment %} search input {% endcomment %}
  <form action="{{ routes.search_url }}">
    <input
      type="text"
      placeholder="Search"
      name="q"
      value="{{ search.terms | escape }}"
    >
    <input type="hidden" name="type" value="product,page">
    <input type="hidden" name="options[unavailable_products]" value="hide">
    <input type="hidden" name="options[prefix]" value="last">
    <input type="submit" value="Search">
  </form>
</header>
