{% if request.visual_preview_mode %}
  <h1>I'm a preview!</h1>
{% endif %}

<div class="test-section" data-ref="test-section">
  <p>This is a test section</p>
  <h1>{{ section.settings.text }}</h1>
</div>

{% schema %}
{
  "name": "Test section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Test section"
    }
  ]
}
{% endschema %}
