<div class="mt-10" style="{% render 'color-scheme' %}">
  <p>{{ section.settings.text }}</p>

  <div class="primary">Primary color</div>
  <div class="secondary">Secondary color</div>

  {% render 'image',
    loading: 'eager',
    image: section.settings.image,
    image_mobile: section.settings.image_mobile,
    sizes: '100vw, 100vw',
    aspect_ratio: '1/1',
    aspect_ratio_md: '1/1',
  %}
  
  {% render 'image', image: section.settings.image, aspect_ratio: '1/1' %}
</div>

{% render '_shopify-preview' %}

{% schema %}
{
  "name": "Test section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "This is a test section"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme_1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image - mobile"
    }
  ],
  "presets": [
    {
      "name": "Test section"
    }
  ]
}
{% endschema %}
