<section class="mt-20 grid gap-4 px-4">
  <h1 class="text-3xl">Spring/Summer™</h1>
  <h2>Shopify Liquid starter</h2>
</section>

{% schema %}
{
  "settings": [
    {
      "type": "header",
      "content": "Delete me before you start"
    }
  ]
}
{% endschema %}