<section class="mt-8 grid gap-4 px-4">
  <h1 class="tracking-wider">Spring/Summer™</h1>
  <h2 class="uppercase text-xs tracking-wider">Shopify Liquid starter</h2>
</section>

{% schema %}
{
  "settings": [
    {
      "type": "header",
      "content": "Delete me before you start"
    }
  ]
}
{% endschema %}