<section class="mt-4 flex flex-col items-start gap-2 px-4">
  <h1 class="mb-4 text-sm tracking-wider uppercase">Shopify Liquid starter</h1>

  <a
    class="flex items-center gap-2 text-xs tracking-wider text-neutral-500 uppercase hover:text-black"
    href="https://github.com/erikthalen/shopify-starter"
    aria-label="Link to github"
  >
    <img src="{{ 'github.png' | asset_img_url }}" width="24" height="24">
    <span class="border-b border-dotted">GitHub</span>
  </a>
</section>

{% schema %}
{
  "settings": [
    {
      "type": "header",
      "content": "Delete me before you start"
    }
  ]
}
{% endschema %}
