<section class="flex flex-col items-center py-[5vh] gap-2 px-4">
  <h1 class="mb-4">Shopify Liquid starter</h1>

  <a
    class="flex items-center -ml-6 gap-2 text-neutral-500 hover:text-black"
    href="https://github.com/erikthalen/shopify-starter"
    aria-title="Link to github"
  >
    <img src="{{ 'github.png' | asset_img_url }}" width="24" height="24" class="size-5">
    <span class="border-b border-dotted">GitHub</span>
  </a>
</section>

{% schema %}
{
  "name": "Welcome",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Delete me before you start"
    }
  ],
  "presets": [
    {
      "name": "Welcome"
    }
  ]
}
{% endschema %}
