{% comment %} simple login field, during development {% endcomment %}

<div id="login">
  <form
    method="post"
    action="/password"
    id="login_form"
    accept-charset="UTF-8"
    class="storefront-password-form"
    data-bitwarden-watching="1"
  >
    <input type="hidden" name="form_type" value="storefront_password"><input type="hidden" name="utf8" value="✓">

    <label for="password">Enter store using password: </label>
    <input type="password" name="password" id="password" autofocus="">
    <div class="actions">
      <input class="btn" name="commit" type="submit" value="Enter">
    </div>
  </form>
</div>
