{% comment %} simple login field, during development {% endcomment %}

<div id="login" class="px-4 my-20">
  <form
    class="flex flex-col gap-4"
    method="post"
    action="/password"
    id="login_form"
    accept-charset="UTF-8"
  >
    <input type="hidden" name="form_type" value="storefront_password">
    <input type="hidden" name="utf8" value="✓">

    <label for="password">
      Enter store using password:<br>
      <input class="border py-1 px-2 rounded border-gray-300 mt-2" placeholder="password" type="password" name="password" id="password" autofocus="">
    </label>
    
    <div class="actions">
      <input class="inline-block bg-blue-400 text-white py-1 px-2 rounded cursor-pointer" name="commit" type="submit" value="Enter">
    </div>
  </form>
</div>
