@import '../css/main';

@import '../css/sections/main-product';
@import '../css/sections/test-section';

@import '../css/snippets/site-header';

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

svg {
  height: 100%;
  width: 100%;
}

/* make it so sections in preview popup in cms don't overflow */
shopify-visual-preview-section-list {
  padding: 0 !important;
}
