@import "tailwindcss" source("../");

@font-face {
  font-family: "DMMono";
  src: local("DMMono"), url("fonts/DMMono-Light.ttf");
  font-display: block;
}

@font-face {
  font-family: "DMMono";
  src: local("DMMono"), url("fonts/DMMono-Regular.ttf");
  font-weight: 700;
  font-display: block;
}

@theme {
  --font-sans: "DMMono", sans-serif;
}

/* make it so sections in preview popup in cms don't overflow */
shopify-visual-preview-section-list {
  padding: 0 !important;
}

html:not(.no-js) {
  [x-cloak] {
    display: none !important;
  }
}

html {
  /* apply zooming of everything on screens > 1440px */
  --zoom-amount: 0.2;
  font-size: max(
    16px,
    calc(16px + 16 * var(--zoom-amount) * (100vw - 1440px) / 1440)
  );
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}

.button {
  @apply relative cursor-pointer text-xs tracking-wider uppercase after:absolute after:-inset-x-2 after:-inset-y-1 after:rounded after:bg-gray-100 after:opacity-0 after:mix-blend-darken after:transition-opacity hover:after:opacity-100;
}

details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

[aria-busy="true"] {
  opacity: 0.4;
}
