@import "tailwindcss" source("../");

@font-face {
  font-family: "DMMono";
  src: local("DMMono"), url("fonts/DMMono-Light.ttf");
  font-display: block;
}

@font-face {
  font-family: "DMMono";
  src: local("DMMono"), url("fonts/DMMono-Regular.ttf");
  font-weight: 700;
  font-display: block;
}

@theme {
  --font-sans: "DMMono", sans-serif;
}

body {
  * {
    font-size: 12px;
    line-height: 1.42;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  /* don't zoom page when focused on mobile */
  @media (width < 48rem) {
    input[type="text"] {
      font-size: 16px;
      letter-spacing: 0.02em;
    }
  }
}

shopify-editor {
  background-color: white;
}

html:not(.no-js) {
  [x-cloak] {
    display: none !important;
  }
}

html {
  /* apply zooming of everything on screens > 1440px */
  --zoom-amount: 0.2;
  font-size: max(
    16px,
    calc(16px + 16 * var(--zoom-amount) * (100vw - 1440px) / 1440)
  );
}

body:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
  touch-action: none;
}

html:has([aria-busy="true"]) *,
body.is-loading * {
  cursor: wait !important;
}

[aria-busy="true"] {
  transition: opacity 200ms;
  opacity: 0.4;
}

details > summary {
  list-style: none;
}

.checkbox {
  @apply relative flex cursor-pointer items-center justify-center overflow-clip rounded-md border border-gray-400 p-1 hover:border-gray-600;
}

.button {
  @apply relative cursor-pointer after:absolute after:-inset-x-2 after:-inset-y-1 after:rounded after:bg-gray-100 after:opacity-0 after:mix-blend-darken after:transition-opacity hover:after:opacity-100;
}

.button-solid {
  @apply flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-gray-400 bg-gray-100 p-2 hover:border-gray-600;
}
