@import "tailwindcss" source("../");

@font-face {
  font-family: "DMMono";
  src: local("DMMono"), url("fonts/DMMono-Light.ttf");
  font-display: block;
}

@font-face {
  font-family: "DMMono";
  src: local("DMMono"), url("fonts/DMMono-Regular.ttf");
  font-weight: 700;
  font-display: block;
}

@theme {
  --font-sans: "DMMono", sans-serif;
}

html {
  /* apply zooming of everything on screens > 1440px */
  --zoom-amount: 0.2;
  font-size: max(
    16px,
    calc(16px + 16 * var(--zoom-amount) * (100vw - 1440px) / 1440)
  );

  scroll-padding-top: var(--header-height); /* header height */

  &:not(.no-js) {
    [x-cloak] {
      display: none !important;
    }
  }
}

body {
  * {
    font-size: 12px;
    line-height: 1.42;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

shopify-editor {
  background-color: white;
}

body:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
  touch-action: none;
}

html:has([aria-busy="true"]) *,
body.is-loading * {
  cursor: wait !important;
}

/* [aria-busy="true"] {
  transition: opacity 200ms;
  opacity: 0.4;
} */

details > summary {
  list-style: none;
}

img:not([class*="h-"]):not([class*="size-"]) {
  height: auto;
}

img:not([class*="w-"]):not([class*="size-"]) {
  width: 100%;
}

@keyframes prevent-scroll {
  from {
    opacity: 0;
  }
}

input:focus {
  animation: prevent-scroll 10ms forwards;
}

.checkbox {
  @apply relative flex cursor-pointer items-center justify-center overflow-clip rounded-md border border-gray-400 p-1 hover:border-gray-600;
}

.button {
  @apply relative cursor-pointer appearance-none after:absolute after:-inset-x-2 after:-inset-y-1 after:rounded after:bg-gray-100 after:opacity-0 after:mix-blend-darken after:transition-opacity hover:after:opacity-100;
}

.button-solid {
  @apply flex w-full cursor-pointer appearance-none items-center justify-center gap-2 rounded border border-gray-400 bg-gray-100 p-2 hover:border-gray-600;
}
